In [4]:
import pandas as pd

In [5]:
import numpy as np

In [6]:
df=pd.read_excel("Global Superstore.xls","Orders")

In [7]:
df1_num=df.select_dtypes(include=[np.number])

In [8]:
df1_cat=df.select_dtypes(include=["object"])

In [9]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [11]:
df1_num.columns

Index(['Row ID', 'Postal Code', 'Sales', 'Quantity', 'Discount', 'Profit',
       'Shipping Cost'],
      dtype='object')

In [12]:
df1_cat.columns

Index(['Order ID', 'Ship Mode', 'Customer ID', 'Customer Name', 'Segment',
       'City', 'State', 'Country', 'Market', 'Region', 'Product ID',
       'Category', 'Sub-Category', 'Product Name', 'Order Priority'],
      dtype='object')

In [14]:
df1_num.drop(['Row ID','Postal Code'],axis=1,inplace=True)

In [15]:
df1_num.columns

Index(['Sales', 'Quantity', 'Discount', 'Profit', 'Shipping Cost'], dtype='object')

In [16]:
from sklearn import preprocessing

In [17]:
le=preprocessing.LabelEncoder()

In [20]:
mm_scaler = preprocessing.MinMaxScaler()

In [22]:
df1_cat_e =df1_cat.apply(le.fit_transform)

In [23]:
df1_num_mm =mm_scaler.fit_transform(df1_num)

In [25]:
df1_cat_e.head()

,Order ID,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name,Order Priority
0,1499,1,1286,632,0,2290,703,139,6,6,8246,2,0,2750,0
1,13063,2,808,413,1,3518,702,6,0,9,907,0,5,2525,0
2,12983,0,336,181,0,497,820,6,0,9,10157,2,13,2502,3
3,6813,0,873,424,2,375,145,47,4,3,10146,2,13,2414,3
4,21702,1,1290,632,0,857,270,110,1,0,10249,2,6,3158,0

In [27]:
df1_num_mm_sc=pd.DataFrame(df1_num_mm)

In [28]:
df1_num_mm_sc.head()

          0         1         2         3         4
0  0.102006  0.461538  0.000000  0.490812  1.000000
1  0.163837  0.615385  0.117647  0.420749  0.989353
2  0.228586  0.615385  0.117647  0.501331  0.980633
3  0.127753  0.307692  0.117647  0.433564  0.974924
4  0.125122  0.538462  0.000000  0.460768  0.967298

In [29]:
df1=pd.concat([df1_num_mm_sc,df1_cat_e],axis=1)

In [30]:
df1.head()

,0,1,2,3,4,Order ID,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Market,Region,Product ID,Category,Sub-Category,Product Name,Order Priority
0,0.102006,0.461538,0.000000,0.490812,1.000000,1499,1,1286,632,0,2290,703,139,6,6,8246,2,0,2750,0
1,0.163837,0.615385,0.117647,0.420749,0.989353,13063,2,808,413,1,3518,702,6,0,9,907,0,5,2525,0
2,0.228586,0.615385,0.117647,0.501331,0.980633,12983,0,336,181,0,497,820,6,0,9,10157,2,13,2502,3
3,0.127753,0.307692,0.117647,0.433564,0.974924,6813,0,873,424,2,375,145,47,4,3,10146,2,13,2414,3
4,0.125122,0.538462,0.000000,0.460768,0.967298,21702,1,1290,632,0,857,270,110,1,0,10249,2,6,3158,0