In [1]:
s1=["Delhi","Chennai","Hyd","Delhi","Mumbai","Chennai","Hyd"]

In [2]:
s2=[10,20,10,20,25,30,25]

In [3]:
s3=["Delhi","Tamilnadu","Telangana","Delhi","Maharashtra","Tamilnadu","Telangana"]

In [4]:
import pandas as pd

In [5]:
df=pd.DataFrame({"City":s1,"Temp":s2,"State":s3})

In [6]:
df

      City  Temp        State
0    Delhi    10        Delhi
1  Chennai    20    Tamilnadu
2      Hyd    10    Telangana
3    Delhi    20        Delhi
4   Mumbai    25  Maharashtra
5  Chennai    30    Tamilnadu
6      Hyd    25    Telangana

In [7]:
df_1=df[["City","State"]]

In [8]:
from sklearn import preprocessing

In [9]:
label_enc = preprocessing.LabelEncoder()

In [11]:
df_1e=df_1.apply(label_enc.fit_transform)

In [13]:
df_1e

   City  State
0     1      0
1     0      2
2     2      3
3     1      0
4     3      1
5     0      2
6     2      3

In [22]:
df_label_enc=pd.concat([df_1e,df["Temp"]],axis=1)

In [23]:
df_label_enc

   City  State  Temp
0     1      0    10
1     0      2    20
2     2      3    10
3     1      0    20
4     3      1    25
5     0      2    30
6     2      3    25